<div class="col-mt-3 p-2 bg-dark text-danger rounded">
    <div align="center"
         style=" margin-bottom:20px; margin-top:10px; padding: 0px;text-align: center;margin-left: 10px;">
        <a target="_blank" href="https://www.facebook.com/fahasa/" title="Facebook">
            <img alt="Facebook"
                 src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/footer/Facebook-on.png">
        </a>
        <a target="_blank" href="https://www.instagram.com/fahasa_official/" title="Instagram">
            <img alt="Instagram"
                 src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images//footer/Insta-on.png">
        </a>
        <a target="_blank" href="https://www.youtube.com/channel/UCUZcVOLSxK1q6RfgzQ9-HYQ" title="Youtube">
            <img alt="Youtube"
                 src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images//footer/Youtube-on.png">
        </a>
        <a target="_blank" href="https://fahasa-blog.tumblr.com/" title="Tumblr">
            <img alt="Tumblr" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images//footer/tumblr-on.png">
        </a>
        <a target="_blank" href="https://twitter.com/Fahasa_com" title="Twitter">
            <img alt="Twitter"
                 src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images//footer/twitter-on.png">
        </a>
        <a target="_blank" href="https://www.pinterest.com/fahasaVN/" title="Pinterest">
            <img alt="Pinterest"
                 src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images//footer/pinterest-on.png">
        </a>
    </div>
    <h5 class="text-center text-white">Chào mừng đến nhà sách của chúng tôi. Hãy liên hệ với chúng tôi qua những phương
        thức trên</h5>
</div>
</div>